<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      href="{{url_for('.static',filename='styles/style.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Create New</h1>
    <form action="/api/create" method="post" class="form">
      <div class="form_rows">
        <label>path</label>
        <input type="text" name="" id="path" placeholder="slug/path" />
      </div>
      <div class="form_rows">
        <label>UTM Source</label>
        <input
          type="text"
          name="utm_source"
          id="utm_source"
          placeholder="The referrer (e.g. google, newsletter)"
        />
      </div>
      <div class="form_rows">
        <label>UTM Medium</label>
        <input
          type="text"
          name="utm_medium"
          id="utm_medium"
          placeholder="Marketing medium (e.g. cpc, banner, email)"
        />
      </div>
      <div class="form_rows">
        <label>UTM Campaign</label>
        <input
          type="text"
          name="utm_campaign"
          id="utm_campaign"
          placeholder="Product, promo code, or slogan (e.g. spring_sale)"
        />
      </div>
      <div class="form_rows">
        <label>UTM Content</label>
        <input
          type="text"
          name="utm_content"
          id="utm_content"
          placeholder="Use to differentiate ads"
        />
      </div>
      <div class="form_rows">
        <label>UTM Term</label>
        <input
          type="text"
          name="utm_term"
          id="utm_term"
          placeholder="Identify the paid keywords"
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
